<div class="container mt-5">
    <h2><%= @user.name %>さんとのチャット</h2>
    <!--受信・送信したメッセージ-->
    <% if @message.present? %>
      <% @messages.each do |msg| %>
      <div class="row">
        <p class="col-3"><%= msg.content %></p>
        <p class="col-2">by　<%= msg.user.name %></p>
      </div>
      <% end %>
    <% end %>

  <div class="row mt-3">
    <!--メッセージの入力-->
    <%= form_with model: @message do |f| %>
      <%= f.text_area :content, size: "40" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>