<h2>Followed User</h2>
<table class="table">
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user|%>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %></td>
      <td><%= user.name %></td>
      <td><p>フォロー数：<%= user.following_user.count %></p></td>
      <td><p>フォロワー数：<%= user.follower_user.count %></p></td>
      <td><%= link_to "Show", user_path(user.id) %></td>
    </tr>
  <% end %>
</table>
