<!--ユーザ情報-->
<!--index user=currentuser-->
<!--show user=user.book-->
<div class="user-info">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill,100,100, fallback: "no_image.jpg", size: "100x100", class:"user-image", id: "img_prev" %>
  <table class="table">
    <tr>
      <th><p>name</p></th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th><p>introduction</p></th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th><p>follows</p></th>
      <td><%= link_to user.following_user.count, user_follows_path(user) %></td>
    </tr>
    <tr>
      <th><p>followers</p></th>
      <td><%= link_to user.follower_user.count, user_followers_path(user) %></td>
    </tr>
  </table>
  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary user-custom" do %>
    <span><i class="fas fa-user-cog"></i></span>
    <% end %>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to 'フォローを外す', user_relationships_path(user), method: :delete, class:"btn btn-info" %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(user), method: :post, class:"btn btn-success" %>
    <% end %>
  <% end %><br>

  <% if current_user != user %>
    <%= link_to 'chatを始める', message_path(user.id)%>
  <% end %>
</div>

