<!--ユーザ情報-->
<!--index user=currentuser-->
<!--show user=user.book-->
<div class="user-info">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill,100,100, fallback: "no_image.jpg", size: "100x100", class:"user-image" %>
  <table class="table">
    <tr>
      <th><p>name</p></th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th><p>introduction</p></th>
      <td><%= user.introduction %></td>
    </tr>
  </table>
  <% if user.id == current_user.id %>
    <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary user-custom" do %>
    <span><i class="fas fa-user-cog"></i></span>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user), class:"btn btn-outline-secondary user-custom" do %>
    <span><i class="fas fa-user-cog"></i></span>
    <% end %>
  <% end %>
</div>

