<!--ユーザ情報 current_user制限-->
<div class="user-info">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill,100,100, fallback: "no_image.jpg", size: "100x100", class:"user-image" %>
  <table class="table">
    <tr>
      <th><p>name</p></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><p>introduction</p></th>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  <% if @user.id == current_user.id %>
    <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary user-custom" do %>
    <span><i class="fas fa-user-cog"></i></span>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user), class:"btn btn-outline-secondary user-custom" do %>
    <span><i class="fas fa-user-cog"></i></span>
    <% end %>
  <% end %>
</div>

<!--新規投稿-->
<h2>New book</h2>
<%= form_with model:book, local:true, class:"new-form" do |f| %>
  <p>Title</p>
    <%= f.text_field :title, class:"new-form-text" %>
  <p>Opinion</p>
    <%= f.text_area :body, class:"new-form-text" %>
    <%= f.submit "Create Book", class:"btn btn-success new-btn" %>
<% end %>