<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <p>Name</p>
    <%= f.text_field :name %>
  <p>Image</p>
    <%= f.attachment_field :profile_image %>
  <p>Introduction</p>
    <%= f.text_area :introduction %>
    <%= f.submit "Update User" %>
<% end %>
