<h2 class="edit-header">User info</h2>

<!--バリデーション-->
<% if @user.errors.any? %>
  <%= @user.errors.count %>errors
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@user, local:true, class:"form" do |f| %>
  <p>Name</p>
    <%= f.text_field :name, class:"form-text"  %>
  <p>Image</p>
    <%= f.attachment_field :profile_image %>
  <p>Introduction</p>
    <%= f.text_area :introduction, class:"form-text"  %>
    <%= f.submit "Update User", class:"btn btn-secondary" %>
<% end %>
