<h1 class="edit-header">Editing Book</h1>

<!--バリデーション-->
<div class="edit-error-msg">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors
    <% @book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
</div>

<!--本の投稿編集画面-->
<%= form_with model:@book, local:true, class:"form" do |f| %>
  <p>Title</p>
  <%= f.text_field :title, class:"form-text" %>
  <p>Opinion</p>
  <%= f.text_area :body, class:"form-text" %>
  <%= f.submit "Update Book", class:"btn btn-success" %>
<% end %>
<div class="btn-wrapper">
  <%= link_to "Show", book_path(@book.id), class:"inline-block" %>
  <p class="inline-block">|</p>
  <%= link_to "Back", books_path, class:"inline-block" %>
</div>
