<div class="container">
  <!--バリデーション-->
  <div class="row new-error-msg">
    <% if @book.errors.any? %>
      <%= @book.errors.count %>error
      <% @book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <!--左側（部分テンプレート）-->
    <div class="col-md-3">
      <%= render 'users/info', user: current_user %>
      <%= render 'books/form', book: @book %>
    </div>

    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <%= render 'books/index', books: @books %>
    </div>

  </div>
</div>