<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-8 offset-md-1">
      <% if user_signed_in? %>
        <%= form_with(url: search_path, local: true, method: :get) do |f| %>
          <%= f.text_field :keyword %>
          <%= f.select :model, {'user':'user', 'book':'book'} %>
          <%= f.select :search, {'完全一致':'perfect_match', '部分一致':'partial_match', '前方一致':'forward_match', '後方一致':'backward_match'}%>
          <%= f.submit '検索' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>