<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/51b68fc5d8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <!--サクセスメッセージ-->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} msg") %>
    <% end %>

    <!--各ビュー-->
    <%= yield %>

    <footer class="text-center mt-5">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
